
body{
    background:#f4f6f9;
}

.topbar{
    background:#fff;
    padding:12px 25px;
    width: calc(100%-250px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left: 250px;
    border-bottom:1px solid #eaeaea;
}

.stats-row{
    padding-left: 25px;
    padding-right: 25px;
}
.search-box{
    width:250px;
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.notification{
    position:relative;
    font-size:20px;
    cursor:pointer;
}

.badge-custom{
    position:absolute;

    top:-8px;
    right:-8px;

    background:red;
    color:white;

    width:18px;
    height:18px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:10px;
}

.profile-img{
    width:45px;
    height:45px;
    border-radius:50%;
    object-fit:cover;
}

.sidebar{
    width:250px;
    height:100vh;
    position:fixed;
    background:#212529;
    color:white;
    padding-top:20px;
}

.sidebar h4{
    text-align:center;
    margin-bottom:30px;
}

.sidebar h5{
    text-align:center;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px 20px;
}

.sidebar a:hover{
    background:#343a40;
}

.content{
    margin-left:250px;
    padding:30px;
}

.card{
    border:none;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.container-fluid{
    padding-left:30px;
    padding-right:30px;
}

.table{
    text-align: center;
    vertical-align: middle;
}

.hero-dashboard{
    background: linear-gradient(
        90deg,
        #624BFF
    );

    color: white;

    padding: 30px;

    border-radius: 0 0 20px 20px;

    margin-bottom: 30px;
    width: calc(100%-250px);
    margin-left: 250px;
}

.stats-row{
    margin-top: -60px;
    position: relative;
    z-index: 10;
}

.btn-tambah{
    background:white;
    color:#5B4CF0;
    border:none;

    padding:10px 25px;
    border-radius:10px;
    
    font-weight:500;
}

.btn-primary-custom{
    background:#5B4CF0;
    border:none;
    color:white;

    padding:10px 20px;
    border-radius:10px;
}

.status-selesai{
    background:#41FF82;
    color:#000;
    padding:5px 12px;
    border-radius:20px;
    font-size:14px;
}

.status-proses{
    background:#FFDE5C;
    color:#000;
    padding:5px 12px;
    border-radius:20px;
    font-size:14px;
}

.status-pending{
    background:#FF4040;
    color:#000;
    padding:5px 12px;
    border-radius:20px;
    font-size:14px;
}